html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
.r-border-box,
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.body--home,
.site-wrapper--home {
  background: #f7f7f7;
}
.content-wrap--home {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 24%;
  left: 0;
  right: 0;
  z-index: 12;
}
.logo-wrap--home {
  position: relative;
  display: block;
  max-width: 300px;
  margin: auto;
  margin-bottom: 0.8em;
  margin-top: -1.25em;
}
.search-wrap--home {
  padding: 1.3em 0.8em 1em;
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  width: 70%;
}
html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
html {
  overflow: hidden;
  overflow-y: auto;
  background-color: #f7f7f7;
  font-size: 90%;
  -webkit-text-size-adjust: 100%;
}
body {
  overflow: hidden;
  position: relative;
  height: auto;
}
body {
  background-color: #fff;
  line-height: 1.6;
}
body,
input,
select,
textarea {
  font-family: Arial, sans-serif;
  color: #222;
}
em,
i {
  font-style: italic;
}

.logo_homepage,
.header__logo-wrap,
.logo--dax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  color: transparent;
  text-indent: -9999px;
  font-size: 0px;
}
.logo_homepage {
  width: 248.5px;
  height: 200px;
  display: block;
  position: relative;
  margin: 0 auto;
}

.search,
.search__input,
.search__clear,
.search__button,
.search--adv,
.search__input--adv {
  font-size: 1em;
}
.search,
.search--adv {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  display: block;
  position: relative;
  height: 2.8em;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  padding-left: 0.75em;
  padding-right: 6.5em;
}
.search__input,
.search__input--adv {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 1.1em;
  font-weight: normal;
  display: block;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  height: 2.545455em;
  z-index: 1;
  position: relative;
  top: -1px;
}
.search__clear,
.search__button,
.search__button--hero {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "ddg-serp-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 1em;
  display: block;
  cursor: pointer;
  background: transparent;
  text-align: center;
  border: none;
  height: 2.45em;
  line-height: 2.45em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2px;
  left: auto;
  margin: auto;
  z-index: 2;
  outline: none;
}
.search__button,
.search__button--hero {
  border-radius: 0 4px 4px 0;
  min-width: 26px;
  color: #999;
  font-size: 1.25em;
  padding: 0 0.64em;
  height: auto;
  min-height: 1.8em;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -3px;
  line-height: 1.5;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-font-smoothing: subpixel-antialiased;
}
html,
body {
  overflow-y: inherit;
}
body.body--html,
.body--html input,
.body--html select,
.body--html textarea {
  font-family: sans-serif;
}
.search__button.search__button--html {
  background-image: url(../assets/loupe_white.png);
}