.search_bar_button {
  font-size: 1.5em;
  -webkit-appearance: none;
  box-sizing: content-box;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 1em;
  display: block;
  cursor: pointer;
  background: transparent;
  text-align: center;
  border: none;
  height: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2px;
  left: auto;
  margin: auto;
  z-index: 2;
  outline: none;
  padding: 0 0.5em;
  line-height: 1;
  min-width: 21px;
  color: #aaa;
  margin-right: 2.5em;
  visibility: visible;
  opacity: 0.9;
}

.autocomplete-suggestions {
  color: #222;
  visibility: visible;
  font: inherit;
  font-size: 100%;
  border: 1px solid #d0d0d0;
  border-top-width: 0;
  border-radius: 0 0 4px 4px;
  z-index: 25;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
  vertical-align: baseline;
  box-sizing: border-box;
  padding: 4px 0;
  background-color: #fff;
  max-width: 590px;
  position: relative !important;
  width: 70% !important;
  left: 0 !important;
  max-height: none !important;
}
.autocomplete-suggestion {
  visibility: visible;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  line-height: 1.1;
  font-size: 1.1em;
  padding: 4px 0.681818em;
  margin: 0 auto;
  position: static;
  color: #222;
  font-weight: bold;
}
.autocomplete-selected {
  background: #f0f0f0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
}
