<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=1"
    />
    <title>HippoHippoGo</title>
    <link
      rel="stylesheet"
      media="handheld, all"
      th:href="@{/css/index.css}"
      type="text/css"
    />
    <link rel="icon" th:href="@{/assets/hippohippogo_logo.ico}" type="image/gif">
  </head>
  <body
    class="body--home body--html"
    data-gr-c-s-loaded="true"
    cz-shortcut-listen="true"
  >
  <div th:insert="fragments/header :: header"></div>
  <div class="header-wrap--home"></div>
    <div id="content_wrapper_homepage" class="content-wrap--home">
      <div id="content_homepage" class="content--home">
        <div class="logo-wrap--home">
          <img
                  title="HippoHippoGo"
                  class="logo_homepage"
                  th:src="@{/assets/hippohippogo_logo_with_text.png}" alt="hippohippogo_logo"
          />
        </div>
        <div class="search-wrap--home">
          <form
            name="x"
            id="search_form_homepage"
            class="search"
            action="/api/dummy"
            method="get"
          >
            <input
              name="q"
              autocomplete="off"
              id="search_form_input_homepage"
              class="search__input"
              type="text"
              autofocus=""
            />

            <input
              name="b"
              id="search_button_homepage"
              class="search__button search__button--html"
              value=""
              title="Search"
              alt="Search"
              type="submit"
            />
          </form>
        </div>
        <div id="html-only-notice"></div>
      </div>
    </div>
  </body>
  <div id="__genieContainer" style="all: initial;"></div>
</html>
