<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h2>List of dummy data</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="result : ${results}">
        <td th:text="${result.get_title()}"></td>
        <td th:text="${result.get_description()}"></td>
    </tr>
</table>
</body>
</html>