<!DOCTYPE html>
<html
        lang="en_US"
        class="has-zcm js no-touch opacity csstransforms3d csstransitions svg cssfilters is-not-mobile-device full-urls js no-touch opacity csstransforms3d csstransitions svg cssfilters"
        xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${region == ''} ? 'HippoHippoGo Global Trends' : 'HippoHippoGo ' + ${regionName} + ' Trends'"></title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css}">
    <link
            rel="stylesheet"
            media="handheld, all"
            th:href="@{/css/index.css}"
            type="text/css"
    />
    <link
            rel="stylesheet"
            th:href="@{/css/results.css}"
            type="text/css"
    />
    <meta name="apple-mobile-web-app-title" th:content="Trends"/>
    <link
            rel="icon"
            th:href="@{/assets/hippohippogo_logo.png}"
            type="image/x-icon"
    />
    <link
            rel="image_src"
            th:href="@{/assets/hippohippogo_logo.png}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <script
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"
    ></script>
    <script
            th:src="@{/js/trends.js}"
    ></script>
</head>
<body class="body--serp" data-gr-c-s-loaded="true" cz-shortcut-listen="true">
<div id="spacing_hidden_wrapper">
    <div id="spacing_hidden"></div>
</div>
<div class="site-wrapper js-site-wrapper" style="min-height: 1007px;">
    <div class="welcome-wrap js-welcome-wrap"></div>
    <div
            id="header_wrapper"
            class="header-wrap js-header-wrap"
            style="top: 0px;"
    >
        <div id="header" class="header cw">
            <div class="header__search-wrap" style="-webkit-box-sizing: content-box; box-sizing: content-box">
                <a
                        tabindex="-1"
                        href="http://localhost:8080/"
                        class="header__logo-wrap js-header-logo"
                        style="outline: none"
                ><span class="header__logo js-logo-ddg">HippoHippoGo</span></a
                >
                <div class="header__content header__search" id="search_bar">
                    <div th:replace="fragments/searchBar :: searchBar('', false)"></div>
                </div>
            </div>
            <div
                    id="duckbar"
                    class="zcm-wrap zcm-wrap--header is-noscript-hidden"
            >
                <div class="zcm">
                    <ul class="zcm__menu zcm__constant has-zci" id="duckbar_static">
                        <li class="zcm__item">
                            <a
                                    data-zci-link="images"
                                    class="zcm__link js-zci-link js-zci-link--image is-active"
                                    id="link--trends"
                            >Trends</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="web_content_wrapper" class="content-wrap">
        <div class="serp__top-right js-serp-top-right"></div>
        <div class="cw" style="max-width: none">
            <div id="links_wrapper" class="serp__results js-serp-results" style="max-width: none; padding-right: 100px">
                <div class="results--main" style="max-width: none">
                    <div class="search-filters-wrap" style="overflow: visible">
                        <div class="js-search-filters search-filters" style="overflow: visible">
                            <div class="dropdown dropdown--region">
                                <div style="position: absolute" th:insert="fragments/dropdowns :: regionsDropdown(${region})"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <canvas id="bar-chart" style="padding-bottom: 50px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js}"></script>
<script>
    $('.ui.dropdown').dropdown();
</script>
</body>
</html>
